@import '../base/variables';
@import '../state/hover';

.btn-primary {
    font-family: $main-font;
    font-weight: $font-weight-paragraph;
    color: $primary-color-text;

    background-color: $bg-color-btn;
    border: $border-no-hover;
    cursor: $cursor-mode;
}

.btn-explore {
    cursor: $cursor-mode;
    padding: $padding-medium $padding-big-right;
}