@import '../base/variables';
@import '../state/hover';

.btn-primary {
    font-family: $main-font;
    font-weight: $font-weight-paragraph;

    background-color: $bg-color-btn;
    border: $border-no-hover;
    
    cursor: $cursor-mode;
}

.btn-explore {
    // border: 3px solid red;
    position: absolute;
    // top: 0;
    // right: 0;
    bottom: 2em;
    // left: 0;
    cursor: $cursor-mode;
    font-family: $main-font;
    padding: $padding-medium $padding-big-right;
}