/* ----- BASE ----- */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
  text-wrap: balance;
}

html {
  scroll-behavior: smooth;
}

/* Classes usadas diretamente no HTML */
/* -- DISPLAY -- */
.hidden {
  display: none;
}

/* -- MEASURES - MARGIN -- */
.mg-1 {
  margin: 1em;
}

.mt-05 {
  margin-top: 0.5em;
}

.mt-1 {
  margin-top: 1em;
}

.mt-2 {
  margin-top: 2em;
}

.mt-5 {
  margin-top: 5em;
}

.mr-05 {
  margin-right: 0.5em;
}

.mr-1 {
  margin-right: 1em;
}

.mr-2 {
  margin-right: 2em;
}

.mr-5 {
  margin-right: 5em;
}

.mr-10 {
  margin-right: 10em;
}

.ml-1 {
  margin-left: 1em;
}

.ml-2 {
  margin-left: 2em;
}

.ml-5 {
  margin-left: 5em;
}

.mb-05 {
  margin-bottom: 0.5em;
}

.mb-1 {
  margin-bottom: 1.2em;
}

.mb-2 {
  margin-bottom: 2em;
}

.mb-5 {
  margin-bottom: 5em;
}

/* -- MEASURES - PADDING -- */
.pg-1 {
  padding: 1em;
}

.pt-05 {
  padding-top: 0.5em;
}

.pt-1 {
  padding-top: 1em;
}

.pt-2 {
  padding-top: 2em;
}

.pt-5 {
  padding-top: 5em;
}

.pb-05 {
  padding-bottom: 0.5em;
}

.pb-1 {
  padding-bottom: 1em;
}

.pb-2 {
  padding-bottom: 2em;
}

.pb-5 {
  padding-bottom: 5em;
}

/* -- BORDER -- */
.nb {
  border-right: 5em solid green;
}

/* ----- IMPORTS ----- */
/* ----- FONTS ----- */
/* -- type -- */
/* -- size -- */
/* -- weight -- */
/* ----- COLORS ----- */
/* -- main -- */
/* -- modes -- */
/* -- background -- */
/* -- menu -- */
/* ----- DEFAUTLT ARRANGEMENTS ----- */
/* ----- SPECIFIC ARRANGEMENTS ----- */
/* ----- OTHERS ----- */
/* ----- LAYOUT ----- */
/* ----- IMPORTS ----- */
/* ----- FONTS ----- */
/* -- type -- */
/* -- size -- */
/* -- weight -- */
/* ----- COLORS ----- */
/* -- main -- */
/* -- modes -- */
/* -- background -- */
/* -- menu -- */
/* ----- DEFAUTLT ARRANGEMENTS ----- */
/* ----- SPECIFIC ARRANGEMENTS ----- */
/* ----- OTHERS ----- */
/* ----- IMPORTS ----- */
/* ----- FONTS ----- */
/* -- type -- */
/* -- size -- */
/* -- weight -- */
/* ----- COLORS ----- */
/* -- main -- */
/* -- modes -- */
/* -- background -- */
/* -- menu -- */
/* ----- DEFAUTLT ARRANGEMENTS ----- */
/* ----- SPECIFIC ARRANGEMENTS ----- */
/* ----- OTHERS ----- */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 1.5em;
}
header .container-logo-link-home .name-company-link-home {
  font-family: "Roboto", serif;
  font-size: 1.3em;
  font-weight: 500;
  color: white;
}
header .container-navigation-links #hamb-menu-btn {
  color: white;
}
header .container-navigation-links .navbar {
  position: relative;
}
header .container-navigation-links .navbar .menu-options-holder {
  position: absolute;
  right: 0;
  border: 0.01em solid black;
  background-color: white;
}
header .container-navigation-links .navbar .menu-options-holder .options-holder {
  text-align: right;
}
header .container-navigation-links .navbar .menu-options-holder .options-holder .links {
  font-family: "Roboto", serif;
  font-weight: 300;
  color: black;
}

/* ----- IMPORTS ----- */
/* ----- FONTS ----- */
/* -- type -- */
/* -- size -- */
/* -- weight -- */
/* ----- COLORS ----- */
/* -- main -- */
/* -- modes -- */
/* -- background -- */
/* -- menu -- */
/* ----- DEFAUTLT ARRANGEMENTS ----- */
/* ----- SPECIFIC ARRANGEMENTS ----- */
/* ----- OTHERS ----- */
#hero-content {
  min-height: 100vh;
  background-image: url("/src/assets/img/luis-de-leon-unsplash-hero.jpg");
  background-size: cover;
  background-position: center;
}
#hero-content .container-hero {
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.6588235294);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#hero-content .container-hero .hero-slogan {
  color: white;
  font-family: "Roboto", serif;
  font-size: 1.7em;
}
#hero-content .container-hero .explore {
  color: white;
  border: 0.01em solid black;
  background-color: transparent;
  position: absolute;
  bottom: 2em;
  font-family: "Roboto", serif;
  font-weight: 300;
  font-size: 0.85em;
  padding: 1em 2em;
  cursor: pointer;
  transition: color 0.5s, background-color 0.5s;
}
#hero-content .container-hero .explore:hover {
  color: black;
  background-color: white;
}

/* ----- IMPORTS ----- */
/* ----- FONTS ----- */
/* -- type -- */
/* -- size -- */
/* -- weight -- */
/* ----- COLORS ----- */
/* -- main -- */
/* -- modes -- */
/* -- background -- */
/* -- menu -- */
/* ----- DEFAUTLT ARRANGEMENTS ----- */
/* ----- SPECIFIC ARRANGEMENTS ----- */
/* ----- OTHERS ----- */
#general-main-content {
  min-height: 100vh;
}
#general-main-content .container-categories {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  overflow-x: hidden;
}
#general-main-content .container-categories .container-card {
  margin: 0.4em;
  border: 0.01em solid black;
}
#general-main-content .container-categories .container-card .zoom-in-out {
  -o-object-fit: cover;
     object-fit: cover;
}
#general-main-content .container-categories .container-card .zoom-in-out .category-img {
  width: 100%;
  aspect-ratio: 0.8/0.8;
  -o-object-fit: contain;
     object-fit: contain;
}
#general-main-content .container-categories .container-card .container-type-text {
  display: flex;
  justify-content: space-between;
  margin: 0.4em;
}
#general-main-content .container-categories .bottom-category {
  text-align: center;
  grid-column: 1/-1;
}

/* ----- MODULES ----- */
/* ----- IMPORTS ----- */
/* ----- FONTS ----- */
/* -- type -- */
/* -- size -- */
/* -- weight -- */
/* ----- COLORS ----- */
/* -- main -- */
/* -- modes -- */
/* -- background -- */
/* -- menu -- */
/* ----- DEFAUTLT ARRANGEMENTS ----- */
/* ----- SPECIFIC ARRANGEMENTS ----- */
/* ----- OTHERS ----- */
/* ----- IMPORTS ----- */
/* ----- FONTS ----- */
/* -- type -- */
/* -- size -- */
/* -- weight -- */
/* ----- COLORS ----- */
/* -- main -- */
/* -- modes -- */
/* -- background -- */
/* -- menu -- */
/* ----- DEFAUTLT ARRANGEMENTS ----- */
/* ----- SPECIFIC ARRANGEMENTS ----- */
/* ----- OTHERS ----- */
.btn-primary {
  font-family: "Roboto", serif;
  font-weight: 300;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

/* ----- STATE ----- */
/* ----- IMPORTS ----- */
/* ----- FONTS ----- */
/* -- type -- */
/* -- size -- */
/* -- weight -- */
/* ----- COLORS ----- */
/* -- main -- */
/* -- modes -- */
/* -- background -- */
/* -- menu -- */
/* ----- DEFAUTLT ARRANGEMENTS ----- */
/* ----- SPECIFIC ARRANGEMENTS ----- */
/* ----- OTHERS ----- */
/* ----- THEME ----- *//*# sourceMappingURL=main.css.map */