/* ----- BASE ----- */
/* Classes usadas diretamente no HTML */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
.hidden {
  display: none;
}

.mt-1em {
  margin-top: 1em;
}

.mb-1em {
  margin-bottom: 1em;
}

/* ----- IMPORTS ----- */
/* ----- COLORS ----- */
/* -- Texts -- */
/* -- Buttons -- */
/* ----- FONTS ----- */
/* ----- ARRANGEMENTS ----- */
/* ----- OTHERS ----- */
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
  text-wrap: balance;
}

/* ----- LAYOUT ----- */
/* ----- IMPORTS ----- */
/* ----- COLORS ----- */
/* -- Texts -- */
/* -- Buttons -- */
/* ----- FONTS ----- */
/* ----- ARRANGEMENTS ----- */
/* ----- OTHERS ----- */
/* ----- IMPORTS ----- */
/* ----- COLORS ----- */
/* -- Texts -- */
/* -- Buttons -- */
/* ----- FONTS ----- */
/* ----- ARRANGEMENTS ----- */
/* ----- OTHERS ----- */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 3px solid blue;
  padding: 1.5em;
}
header .container-logo-link-home .name-company-link-home {
  font-family: "Roboto", serif;
  font-size: 1.3em;
  font-weight: 500;
  color: black;
}
header .container-navigation-links .overlay {
  border: 3px solid red;
  position: fixed;
  top: 10%;
  left: 25%;
  right: 0;
  bottom: 0;
}
header .container-navigation-links .menu-options {
  z-index: 1;
  position: fixed;
  left: 25%;
  right: 0;
  bottom: 50%;
}
header .container-navigation-links .menu-options .options-holder {
  border: 3px solid red;
}
header .container-navigation-links .menu-options .options-holder .links {
  font-family: "Roboto", serif;
  font-weight: 300;
  color: black;
}
header .container-navigation-links .menu-options .options-holder .links:hover {
  font-weight: 600;
}

/* ----- MODULES ----- */
/* ----- IMPORTS ----- */
/* ----- COLORS ----- */
/* -- Texts -- */
/* -- Buttons -- */
/* ----- FONTS ----- */
/* ----- ARRANGEMENTS ----- */
/* ----- OTHERS ----- */
/* ----- IMPORTS ----- */
/* ----- COLORS ----- */
/* -- Texts -- */
/* -- Buttons -- */
/* ----- FONTS ----- */
/* ----- ARRANGEMENTS ----- */
/* ----- OTHERS ----- */
.btn-primary {
  font-family: "Roboto", serif;
  font-weight: 300;
  color: black;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

/* ----- STATE ----- */
/* ----- IMPORTS ----- */
/* ----- COLORS ----- */
/* -- Texts -- */
/* -- Buttons -- */
/* ----- FONTS ----- */
/* ----- ARRANGEMENTS ----- */
/* ----- OTHERS ----- */
/* ----- THEME ----- *//*# sourceMappingURL=main.css.map */