<!-- MENU E NAVBAR -->
<header>
    <div class="container-logo-link-home">
        <a href="/src/index.html" class="name-company-link-home">FLASH Co.</a>
    </div>

    <div class="container-navigation-links">
        <button id="teste" class="btn">MENU</button>
        <ul class="menu-options">
            <li class="options-holder hidden"><a href="#" class="links">SOBRE</a></li>
            <li class="options-holder hidden"><a href="#" class="links">CATÁLOGO</a></li>
            <li class="options-holder hidden"><a href="#" class="links">CONTATO</a></li>
        </ul>
    </div>
</header>