<header>
    <div class="container-logo-link-home">
        <a href="/src/index.html" class="name-company-link-home">FLASH Co.</a>
    </div>
    
    <div class="container-navigation-links">
        <button id="hamb-menu-btn" class="btn-primary">MENU</button>
        <nav class="navbar mr-05">
            <ul class="menu-options-holder mt-05">
                <li class="options-holder mb-1 hidden"><a href="pages/about.html" class="links">SOBRE</a></li>
                <li class="options-holder mb-1 hidden"><a href="pages/catalogue.html" class="links">PRODUTOS</a></li>
                <li class="options-holder hidden"><a href="pages/contact.html" class="links">CONTATO</a></li>
            </ul>
        </nav>
    </div>
</header>