<!-- <header>
    <div class="container-logo-link-home">
        <a href="/src/index.html" class="name-company-link-home">FLASH Co.</a>
    </div>
    
    <div class="container-navigation-links">
        <button id="hamb-menu-btn" class="btn-primary">MENU</button>
        <nav class="navbar mr-05">
            <ul class="menu-options-holder mt-05">
                <li class="options-holder mb-1 hidden"><a href="#" class="links">VALORES</a></li>
                <li class="options-holder mb-1 hidden"><a href="#" class="links">PRODUTOS</a></li>
                <li class="options-holder hidden"><a href="#" class="links">CONTATO</a></li>
            </ul>
        </nav>
    </div>
</header> -->

<header>
    <div class="container-top-options">
        <div class="container-menu">
            <button class="open-close-menu">MENU</button>
        </div>
        <div class="container-logo">
            <a href="../index.html" class="link-home">FLASH</a>
        </div>
    </div>

    <div class="line-separator"></div>
</header>