/* ----- COLORS ----- */
// $primary-color-text: black;
// $primary-color-text: black;
// $secondary-color: #4caf50;
// $light-color: #ffffff;
// $dark-color: #333333;

/* ----- FONTS ----- */
$font-family-title: 'Arial', sans-serif;
$font-size-title: 1.1em;
$font-family-paragraph: 'Arial', sans-serif;
$font-size-paragraph: 0.9em;

/* ----- PADDING ----- */
$small-padding: 0.5em;
$medium-padding: 1em;
$big-padding: 1.5em;