@import '../base/variables';

header {
    .container-top-options {
        display: flex;
        justify-content: space-between;

        padding: $padding-medium;
        
        border: 3px solid red;
        .container-menu {
            .open-close-menu {}

            .menu-options-holder {
                .options-holder {
                    .links {}
                }
            }
        }

        .container-logo {
            .link-home {}
        }
    }

    .line-separator {}
}
// @import '../state/hover';

// header {
//     display: flex;
//     justify-content: space-between;
//     align-items: center;

//     position: absolute;
//     top: 0;
//     left: 0;
//     right: 0;

//     padding: $padding-big;
//     .container-logo-link-home {
//         .name-company-link-home {
//             font-family: $main-font;
//             font-size: $font-size-titles; 
//             font-weight: $font-weight-title;
            
//             color: $secondary;
//         }
//     }
    
//     .container-navigation-links {
//         #hamb-menu-btn {
//             color: $secondary;
//         }

//         .navbar {
//             position: relative;
//             .menu-options-holder {
//                 position: absolute;
//                 right: 0;
//                 // padding: $padding-medium;
//                 // z-index: 1;
//                 // top: 10%;
//                 // left: 15%;
//                 // bottom: 50%;
//                 border: $border-size solid $border-menu-color;
//                 background-color: $border-menu-bg-color;
//                 .options-holder {
//                     // border: 3px solid salmon;
//                     text-align: right;
//                     // padding: $padding-big;
//                     .links {
//                         font-family: $main-font;
//                         font-weight: $font-weight-paragraph;
//                         color: $primary;
//                     }
//                 }
//             }
//         }
//     }
// }