@import '../base/variables';

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // border: 3px solid red;

    padding: $padding-big;
    .container-logo-link-home {
        .name-company-link-home {
            font-family: $main-font;
            font-size: $font-size-title;
            font-weight: $font-weight-title;
            
            color: $primary-color-text;
        }
    }
    
    .container-navigation-links {
        #hamb-menu-btn {
            cursor: $cursor-mode;
        }
        
        .menu-options {
            position: fixed;
            // top: 0;
            left: 25%;
            right: 0;
            bottom: 50%;
            .options-holder {
                border: 3px solid red;
                // margin: $margin-big;
                .links {
                    font-family: $main-font;
                    font-weight: $font-weight-paragraph;
                    color: $primary-color-text;
                }
            }
        }
    }
}