@import '../base/variables';

#hero-content {
    // min-height: $main-height;

    .container-title {
        padding: $padding-medium;
        .title {
            font-style: italic;
            font-size: $font-size-company-logo-name;
        }
    }
    
    .container-description {
        padding: $padding-medium;
        margin-top: $margin-small-top;
        .craft {
            color: $descriptions;
            font-weight: $font-weight-descriptions;
        }
        .craft-small-desc {
            margin-top: $margin-small-top;
        }
    }
    
    .container-explore {
        display: flex;
        padding: 0 0 $padding-medium $margin-small-top;
        margin-top: $margin-small-top;
        .icon {
            width: 1.3em;
        }
        .explore {
            margin-left: $margin-small-left;
        }
    }
    
    .container-description-mediaQuery {
        .craft-small-desc-mediaQuery-1 {}
        .craft-small-desc-mediaQuery-2 {}
    }
    
    // .container-bg-image {
    //     min-height: 60vh;
    //     background-image: url("/src/assets/img/luis-de-leon-bg-img-hero.jpg");
    //     background-size: cover;
    //     background-position: center;
    // }
}