@import '../base/variables';

#hero-content {
    min-height: $sec-height;
    background-image: url("/src/assets/img/luis-de-leon-unsplash-hero.jpg");
    background-size: cover;
    background-position: center;

    .container-hero {
        min-height: $sec-height;
        background-color: $opacity-bg;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

        // border: 3px solid red;
        .hero-slogan {
            color: $main-text-color;
            font-size: $font-size-slogan-title;
        }
    }
}