@import '../base/variables';

.container-text-about {
    .text-about {}
    .see-more {}
}

#main-content {
    padding: $padding-medium;
    .container-new-arrivals {
        .container-text-about-NA {
            .text-about {
                margin: $margin-medium-top 0 $margin-medium-bottom 0;
                font: $font-style $font-weight-title $font-size-company-logo-name $main-font;
            }
            .see-more {}
        }
        
        .container-new-prods {
            display: flex;
            .container-prods {
                display: grid;
                place-items: center;
                // object-fit: fill;
                // aspect-ratio: 1 / 1.4;
                .link-to-prod {
                    // flex-direction: column;
                    // justify-self: center;
                    // align-self: center;
                    // align-items: center;
                    // justify-items: center;
                    .prod-img {
                        width: 100%;
                        border: $border-size solid $border;
                    }

                    .container-prod-info {
                        .prod-name {}
                        .prod-price {}
                    }
                }
            }
        }

        .container-new-prods-mediaQuery {}
    }

    .container-other-prods{
        .container-shirts {}
        .container-pants {}
        .container-jewelry {}
    }
}