@import '../base/variables';

.container-text-about {
    .text-about {
        margin: $margin-medium-top 0 $margin-medium-bottom 0;
        font: $font-style $font-weight-title $font-size-company-logo-name $main-font;
    }
    .see-more {}
}

#main-content {
    padding: $padding-medium;
    .container-new-arrivals {
        .container-text-about-NA {
            .text-about {
                margin: $margin-medium-top 0 $margin-medium-bottom 0;
                font: $font-style $font-weight-title $font-size-company-logo-name $main-font;
            }
            .see-more {}
        }
        
        .container-new-prods {
            display: flex;
            .container-prods {
                display: grid;
                place-items: center;
                .link-to-prod {
                    margin: 0.3em;
                    .prod-img {
                        width: 100%;
                        border: $border-size solid $border;
                    }
                    
                    .container-prod-info {
                        display: flex;
                        justify-content: space-between;

                        font-family: $main-font;
                        font-weight: $font-weight-title;
                        .prod-name {}
                        .prod-price {}
                    }
                }
            }
        }

        .container-new-prods-mediaQuery {}
    }

    .container-other-prods{
        border: 3px solid red;
        .container-shirts {}
        .container-pants {}
        .container-jewelry {}
    }
}